body {
    font-family: "Roboto", sans-serif;
    background-color: #c4aef7;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background: white;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
}

h1 {
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: #6B41D1;
}

.error {
    color: rgba(173,30,24,0.88);
}

.orders {
    margin: 20px 0;
}

form {
    margin: 30px 0;
    padding: 20px 40px 40px 40px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #6B41D1;
    border-radius: 15px;
}

label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #68607a;
    margin-bottom: 10px;
    margin-top: 10px;
}

input:not([type='checkbox']):not([type='radio']) {
    display: block;
}

textarea {
    vertical-align: top;
}

.agree-text{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #6B41D1;
}

button {
    background: #C9A0FE;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid #6B41D1;
    box-sizing: border-box;
    width: 100px;
    height: 30px;
}

input {
    border: 2px solid #6B41D1;
}

select {
    border: 2px solid #6B41D1;
}